<template>

    <div v-if="mainView">
        <button @click="goToMain()" class="btn btn-default btn-primary " style="float: right">Refresh 🔄</button>
        <heading class="mb-6">Sync Google Sheet Data</heading>
        <card
            class=" flex flex-col "
            style="min-height: 300px"
        >
          <div id="app">

           <div class="tabset">
              <!-- Tab 1 -->
              <input type="radio"  name="tabset" id="tab1" aria-controls="t1_tab" checked>
              <label for="tab1">Start New Job</label>
              <!-- Tab 2 -->
              <input type="radio"  name="tabset" aria-controls="t2_tab" id="tab2" >
              <label for="tab2">History</label>

              <div class="tab-panels">
                <section id="t1_tab" class="tab-panel" >
                  <div class="row px-4" v-for='(value, name, index) in modules'>
                    <br/>
                    <h3>
                      {{ name.charAt(0).toUpperCase() + name.slice(1) }}
                    </h3>
                    <div class="text-right">
                      <div class="flex">
                        <div class="px-8 py-6 w-1/5">
                          <label :for="'full'+index" class="inline-block text-80 pt-2 leading-tight">
                            Full Sheet Sync &nbsp;<!----></label>
                        </div>
                        <div class="py-6 px-1 w-1/8">
                          <input type="checkbox" :checked="syncLimit[index] === 'full'" @change="check('full',index, $event)" class="checkbox mt-2" :id="'full'+index" :name="'full'+index">
                        </div>

                        <div class="px-8 py-6 w-1/5">
                          <label :for="'limit'+index" class="inline-block text-80 pt-2 leading-tight">
                            Limit Sheet Sync &nbsp;<!----></label>
                        </div>
                        <div class="py-6 px-1 w-1/8">
                          <input type="checkbox" :checked="syncLimit[index] === 'limit'" @change="check('limit',index, $event)" class="checkbox mt-2" :id="'limit'+index" :name="'limit'+index">
                        </div>

                        <div class="px-8 py-6 w-1/4" v-show="syncLimit[index] === 'limit'">
                          <input :id="'from'+index"  list="page-list" min="0" type="number" placeholder="Row from" class="w-full form-control form-input form-input-bordered">
                        </div>
                        <div class="px-8 py-6 w-1/4" v-show="syncLimit[index] === 'limit'">
                          <input :id="'to'+index"  list="page-list" min="0" type="number" placeholder="Row to" class="w-full form-control form-input form-input-bordered">
                        </div>
                      </div>
                      <button style="background:#4099de"
                              class="btn btn-default btn-primary"
                              @click="sync(name, index)"
                              :disabled="isDisabled"
                      >
                        <span v-show="!isDisabled"> Start Sync {{ name.charAt(0).toUpperCase() + name.slice(1) }} </span>
                        <span v-show="isDisabled"> Syncing {{ name }} ... </span>

                      </button>
                    </div>

                  </div>

                </section>
                <section id="t2_tab" class="tab-panel">
                  <div class="scrollable" >
                    <table cellpadding="0" cellspacing="0" data-testid="resource-table" class="table w-full table-default ">
                      <thead>
                      <tr>
                        <th>Time</th>
                        <th>Added At</th>
                        <th>Status</th>
                        <th>View</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="job in table_data" :key="job.id">
                        <td>{{ job.created_at }}</td>
                        <td>{{ job.updated_at }}</td>
                        <td>
                          <div v-if="job.status === 0">
                            <span class="label info">Pending</span>
                          </div>
                          <div v-else-if="job.status === 1">
                            <span class="label warning">Running</span>
                          </div>
                          <div v-else-if="job.status === 2">
                            <span class="label success">Completed</span>
                          </div>
                          <div v-else-if="job.status === 3">
                            <span class="label danger">Failed</span>
                          </div>
                        </td>
                        <td>   <button @click="goTodetail(job.id)"  class="btn btn-default btn-primary">View</button> </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </section>
              </div>
            </div>

          </div>


           <br/>  <br/>
        </card>
    </div>

  <div v-else>    <button @click="goToMain()" class="btn btn-default btn-primary" style="float: right">Back</button>
    <heading class="mb-6">Job Details</heading>

    <card
        class=" flex flex-col "
        style="min-height: 300px"
    >
      <div id="app">
            <div class="scrollable" style="padding: 20px">
              <table cellpadding="0" cellspacing="0" data-testid="resource-table" class="table w-full table-default">
              <thead>
                <tr>
                  <th>Sheet Row Number</th>
                   <th>Run At</th>
                  <th>Status</th>
                  <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in details_table_data" :key="row.id">
                  <td>#{{ row.row_index }}</td>
                  <td>{{ row.updated_at }}</td>
                  <td>
                    <div v-if="row.status === 0">
                      <span class="label info">Pending</span>
                    </div>
                    <div v-else-if="row.status === 1">
                      <span class="label warning">Running</span>
                    </div>
                    <div v-else-if="row.status === 2">
                      <span class="label success">Completed</span>
                    </div>
                    <div v-else-if="row.status === 3">
                      <span class="label danger">Failed</span>
                    </div>
                  </td>
                  <td>
                    <div v-if="row.error === null ">
                      <span>-</span>
                    </div>
                    <div v-else>
                      <span>{{ row.error }}</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

      </div>
      <br/>  <br/>
    </card>
  </div>

</template>
<script>
import Vue from 'vue'

import {isBoolean} from "lodash";

export default {
    props: {
        modules: { type: Array },
        btnDisabled : { type: isBoolean() },
    },
    data() {
        return{
              activeItem: 'new_job',
              syncLimit : [],
              mainView: 1,
              jobId : 0,
              details_table_data : [],
              table_data : [],
            }
    },
    metaInfo() {
        return {
            title: 'Sync Sheet Data',
        }
    },
    beforeMount(){
        this.computeLimit()
    },
    mounted() {
      this.loadJobs()
    },
    computed: {
        modules() {
            return this.modules = Nova.config.modules;
        },
        isDisabled() {
            // you can  check your form is filled or not here.
            return this.btnDisabled;
        }
    },
    methods: {
      goToMain() {
        this.loadJobs();
        this.mainView = 1;
      },
      goTodetail(jId) {
          this.mainView = 0;
          this.jobId = jId;
          this.getDetails();

      },
      isActive (menuItem) {
        return this.activeItem === menuItem
      },
        check : function (action, index, event)
        {
            if (event.target.checked) {
                this.$set(this.syncLimit, index, action)
            }
        },
      getDetails : function () {
        var self = this;
        let bodyFormData = new FormData();
        bodyFormData.append('id',  this.jobId);
        axios({
          method: "post",
          url: "/nova-vendor/sync-sheet-data-page/google-sheet-sync-job-details",
          data: bodyFormData,
          headers: { "Content-Type": "multipart/form-data" },
        }).then(function (response) {
          if(response.data.status === "success")
          {
            self.details_table_data = response.data.data;
          }
        }).catch(function (response) {
        });
      },
       loadJobs : function () {
         var self = this;
         axios({
           method: "post",
           url: "/nova-vendor/sync-sheet-data-page/google-sheet-sync-history",
           headers: { "Content-Type": "multipart/form-data" },
         }).then(function (response) {
           if(response.data.status === "success")
           {
             self.table_data = response.data.data;
           }
         }).catch(function (response) {
         });
      },
        computeLimit : function ()
        {
            this.syncLimit = [];
            for (const item in Nova.config.modules) {
                this.syncLimit.push("full");
            }
        },
        sync: function(module, index) {
            let choosenSyncLimit = this.syncLimit[index];
            let from = "";
            let to = "";
            if(choosenSyncLimit === "limit")
            {
                from = document.getElementById('from'+index).value;
                to = document.getElementById('to'+index).value;
            }
            let bodyFormData = new FormData();
            bodyFormData.append('module',  module);
            bodyFormData.append('from',  from);
            bodyFormData.append('to',  to);
            let myThis=this;
            this.btnDisabled = true;
            myThis.$toasted.show('Syncing '+module+' started, please wait ...', {
                type: "success",
            }).goAway(2000);

            axios({
                method: "post",
                url: "/nova-vendor/sync-sheet-data-page/google-sheet-sync",
                data: bodyFormData,
                headers: { "Content-Type": "multipart/form-data" },
            }).then(function (response) {
                myThis.btnDisabled = false;
                if(response.data.status === "success")
                {
                  myThis.loadJobs();
                  myThis.$toasted.show('Syncing '+module+' completed', {
                    type: "success",
                  }).goAway(2500);
                }
                else
                {
                  myThis.$toasted.show('Syncing '+module+' failed , ' + response.data.message,
                  {
                    type: "error",
                  }).goAway(7000);
                }
            }).catch(function (response) {
                myThis.btnDisabled = false;
                myThis.$toasted.show('Syncing '+module+' failed', {
                        type: "error",
                }).goAway(2500);

            });
        },
    }
}


</script>

<style>
.nav-link{
  color:rgb(64, 153, 222);
}
.label {
  color: white;
  padding: 8px;
  border-radius: 15px;
}
.primary{
  background:rgb(64, 153, 222);
  color:white;
}
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 115px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}



.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}


.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.tabset {
 padding: 20px;
}
.scrollable
{
  max-height: 600px;
  overflow: scroll;
}
</style>
